In [1]:
import pandas as pd

In [5]:
#Import CSV files
q1_monthly_user_scores = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q1_monthly_user_scores.csv")
q1_user_groups = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q1_user_groups.csv")
q2_visits_length_of_stay = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q2_visits_length_of_stay.csv")
q3_user_scores = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q3_user_scores.csv")
q4_client_monthly_los = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q4_client_monthly_los.csv")
q4_covid_census = pd.read_csv("/Users/lindseyvalput/Desktop/Customer-Success-Team-Project/Data/q4_covid_census.csv")

In [9]:
q2_visits_length_of_stay

      encounter_id  length_of_stay        date  user_id
0           166360        0.897061  2022-01-01        2
1           165739        9.259950  2022-01-01        2
2           166112        1.155417  2022-01-01        5
3           165902        1.614640  2022-01-01        1
4           166349        2.101197  2022-01-01        3
...            ...             ...         ...      ...
2092        167066        1.680459  2022-02-01        4
2093        167579        3.737720  2022-02-01        5
2094        167240       39.421373  2022-02-01        1
2095        168036       33.818944  2022-02-01        1
2096        167031       31.719707  2022-02-01        1

[2097 rows x 4 columns]